<div class="container mt-4">

    <div class="row justify-content-center mt-4 mb-4">
        <img src="../assets/logo.png" alt="Logo IES-UCU">
    </div>
    <hr>

    <div class="row justify-content-center mt-4 mb-4">
        <div class="col col-6">
            <div class="row justify-content-center">
                <h5>Inscriptos</h5>
            </div>
            <hr>

            <div class="row scroll">
                <table class="table table-sm table-striped table-borderless ">
                    <thead>
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Nombre y Apellido</th>
                            <!-- <th scope="col">Apellido</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let participante of participantes; let i=index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ participante }}</td>
                            <!-- <td>{{ participante.apellido }}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col col-6">
            <div class="row justify-content-center ">
                <h5>Ganadores</h5>
            </div>
            <hr>

            <div class="row ml-2 mr-2 ">
                <!--
                <table class="table table-sm  table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Puesto</th>
                            <th scope="col">N°</th>
                        </tr>
                    </thead>
                    <tbody class="table-dark">
                        <tr *ngFor="let ganador of ganadores; let i=index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ ganador }}</td>
                        </tr>
                    </tbody>
                </table>
                -->
                <div *ngFor="let ganador of ganadores; let i=index" class="card bg-light mt-2" style="width:90%">
                    <div class="card-header">{{i+1}}° Puesto</div>
                    <div class="card-body">
                        <h6 class="card-text">Participante n°: {{ ganador }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col col-6">
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="sorteo()">Sortear</button>
        </div>

        <div class="col col-6">
            <button type="button" class="btn btn-warning btn-lg btn-block" (click)="restart()">Limpiar</button>
        </div>

    </div>
</div>